{% extends 'layout.twig' %}

{% block content %}
   {% if posts|length > 0 %}
<div>
    {% for post in posts %}
        <div class="col-lg-12 text-center">
            <h2>
                <hr>
                <h2 class="intro-text text-center">
                    <a href="{{ url('/posts/view', {'id': post.idpost}) }}" title="View post">
                        {{ post.title|e }}
                    </a>
                </h2>
                <small>{{ post.published_date|e }}</small>
                <hr>
            </h2>
            <p>{{ post.content|e }}</p>
            <hr>
        </div>
    {% endfor %}

    {% else %}
        <p>
            Post not found.
        </p>
    {% endif %}
{% endblock %}
