{% block feedback %}
    <p>
        <a href="{{ url('/feedback/add', {'idproject': idproject}) }}" title="Add feedback">
            <button type="button" class="btn btn-success">Add feedback</button>
        </a>
    </p>
    {% for fb in feedback %}
        <div class="col-lg-12 text-center">
            <p>
            <p class="text-center">
                <small> {{ fb.published_date|e }}</small>
            </p>
            <p>
                {{ fb.content|e }}
            </p>
            </p>

            <p>
                <a href="{{ url('/feedback/edit', {'id': fb.idfeedback}) }}" title="Edit feedback">
                    <button type="button" class="btn btn-warning">Edit feedback</button>
                </a>
                <a href="{{ url('/feedback/delete', {'id': fb.idfeedback}) }}" title="Delete feedback">
                    <button type="button" class="btn btn-danger">Delete feedback</button>
                </a>
            </p>
            <hr>
        </div>
    {% endfor %}
{% endblock %}
