{% extends 'layout.twig' %}

{% block content %}
    <hr>
    <h2 class="intro-text text-center">
        Contact
    </h2>
    <hr>
    {% for page in pages %}
        <p>{{ page.title }} : {{ page.content }}</p>
    {% endfor %}
{% endblock %}