{% extends 'layout.twig' %}

{% block content %}
    <hr>
    <h2 class="intro-text text-center">
        Delete Tag
    </h2>
    <hr>
    <div>
        <h3>Czy na pewno chcesz usunąć ten tag?</h3>
        <form action="" method="post">
            {{ form_widget(form) }}
            <input type="submit" name="submit" value="Tak"/>
            <button onclick="{{ redirect }}">Nie</button>
        </form>
    </div>

{% endblock %}