{% extends 'layout.twig' %}

{% block content %}
        <hr>
        <h2 class="intro-text text-center">
            Add post
        </h2>
        <hr>
    <form action="/#lala" method="post">
        {{form_widget(form)}}
        <input type="submit" name="submit" />
    </form>
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
        <div id="lala">lala</div>
    {% endfor %}
{% endblock %}