{% extends 'layout.twig' %}

{% block center_column %}
    <hr>
    <h2 class="intro-text text-center">
        Delete post
    </h2>
    <hr>
    <div>
        <h3>Czy na pewno chcesz usunąć ten post?</h3>
        <form action="#" method="post">
            {{ form_widget(form) }}
            <input type="submit" name="submit" value="Tak"/>
            <button onclick="{{ redirect }}">Nie</button>
        </form>
    </div>

{% endblock %}