{% extends 'layout.twig' %}

{% block content %}
    {% if posts|length > 0 %}
<div>
    {% for post in posts %}
        <div class="col-lg-12 text-center">
            <h2>
                <hr>
                <h2 class="intro-text text-center">
                    <a href="{{ url('/posts/view', {'id': post.idpost}) }}" title="View post">
                        {{ post.title|e }}
                    </a>
                </h2>
                <small>{{ post.published_date|e }}</small>
                <hr>
            </h2>
            <p>{{ post.content|e }}</p>
            <a href="{{ url('/categories/', {'idcategory': post.idcategory}) }}">{{ post.name|e }}</a>
            <hr>
        </div>
    {% endfor %}
    <div class="col-lg-12 text-center">
        <ul class="pager">
            {% if paginator.page > 1 %}
                {% set previous = (paginator.page - 1) %}
                <li class="previous"><a href="{{ url('/posts/', {'page': previous}) }}">&larr; Older</a>
                </li>
            {% endif %}

            {% if paginator.page < paginator.pagesCount %}
                {% set next = (paginator.page + 1) %}
                <li class="next"><a href="{{ url('/posts/', {'page': next}) }}">Newer &rarr;</a>
                </li>
            {% endif %}
        </ul>
    </div>

    {% else %}
        <p>
            Post not found.
        </p>
    {% endif %}
    {% endblock %}
