{% extends 'layout.twig' %}

{% block content %}

    <div class="col-lg-12 text-center">
        <h2>
            <hr>
            <h2 class="intro-text text-center">
                <a href="{{ url('/posts/view', {'id': post.idpost}) }}" title="View post">
                    {{ post.title|e }}
                </a>
            </h2>
            <hr>
        </h2>
        <h2>
            <small>{{ post.published_date|e }}</small>
        </h2>
        <p>{{ post.content|e }}</p>
        {{ post.name|e }}
        {% for tag in tags %}
            <h5>
                <small>
                    {{ tag.title }}
                </small>
            </h5>
        {% endfor %}
        <hr>
        <p>
            <a href="{{ url('/posts/edit', {'id': post.idpost}) }}" title="Edit post">
                <button type="button" class="btn btn-warning">Edit post</button>
            </a>
            <a href="{{ url('/posts/delete', {'id': post.idpost}) }}" title="Delete post">
                <button type="button" class="btn btn-danger">Delete post</button>
            </a>
            <a href="{{ url('/tags/manage', {'idpost': post.idpost}) }}" title="Manage tags">
                <button type="button" class="btn btn-success">Manage Tags</button>
            </a>
        </p>
    </div>
{% endblock %}

{% block comments %}
    {% for flashMessage in app.session.getFlashBag.get('message') %}
        <div class="alert alert-{{ flashMessage.type }}">
            {{ flashMessage.content }}
        </div>
    {% endfor %}

    <div>
        {{ render( path('/comments/',{'idpost': post.idpost})) }}
    </div>
{% endblock %}