{% extends 'layout.twig' %}

{% block content %}
    <h1>
        Delete Post
    </h1>
    <div>
        <h3>Czy na pewno chcesz usunąć ten post?</h3>
        <form action="#" method="post">
            {{ form_widget(form) }}
            <input type="submit" name="submit" value="Tak"/>
            <button onclick="{{ redirect }}">Nie</button>
        </form>
    </div>

{% endblock %}